<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <section class="section2" id="special">
            <h3>SPECIAL OFFERS</h3>
            <i>Best 2024 packages where people love to stay!</i>
            <div class="image-row">
                <div class="content">
                    <img src="./images/i2.jpg" alt="">
                    <p>United States<br>New destination!</p>
                </div>
                <div class="content">
                    <img src="./images/i3.jpg" alt="">
                    <p>Manali<br>New destination!</p>
                </div>
                <div class="content">
                    <img src="./images/i4.jpg" alt="">
                    <P>Nainital<br>New destination!</P>
                </div>
                <div class="content">
                    <img src="./images/i6.jpg" alt="">
                    <P>Shillong <br>New destination!</P>
                </div>
                <div class="content">
                    <img src="./images/i7.jpg" alt="">
                    <P>Italy<br>New destination!</P>
                </div>
            </div>

        </section>

        <section class="section3" id="#hd">
            <div class="s1">
                <h3>HOLIDAYS TYPE</h3>
                <P>Get explore your dream to travel the world! </P>
                <div class="icons">
                    <div class="i1">
                        <div class="icon"><i class="fa-solid fa-ship"></i></div>
                        <div class="text">Cruise</div>
                    </div>
                    <div class="i1">
                        <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
                        <div class="text">Hill Stations</div>
                    </div>
                    <div class="i1">
                        <div class="icon"><i class="fa-solid fa-city"></i></div>
                        <div class="text">City Breaks</div>
                    </div>
                    <div class="i1">
                        <div class="icon"><i class="fa-solid fa-heart"></i></div>
                        <div class="text">Honeymoon</div>
                    </div>
                    <div class="i1">
                        <div class="icon"><i class="fa-brands fa-safari"></i></div>
                        <div class="text">Adventure</div>
                    </div>
                    <div class="i1">
                        <div class="icon"><i class="fa-solid fa-sailboat"></i></div>
                        <div class="text">Beach</div>
                    </div>
                </div>
            </div>
        </section>

</body>
</html>